# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*~

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains configure files and plugins for VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/

# Ignore flutter SDK directory if accidentally placed in project
/flutter/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically create this file
android/local.properties
android/keystore.properties
android/*.jks
android/*.keystore

# Exceptions to above rules.
!/packages/*/example/.DS_Store
